body{
    background-color: #000000;
}
.container {
    width: 70%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border: 20px solid #ddd;
    border-radius: 10px;
}
img{
     width: 250px;
     height: 250px;
     border-radius: 10px;
}